body {
    background-size: cover;
}

#title {
    margin-top: 20px;
    color: white;
}

#back_home {
    font-size: large;
    background-color: white;
    border-radius: 30px;
    color: black;
    padding: 12px;
    position: absolute;
    bottom: 15;
    left: 20;
}

#status {
    color: white;
}

.objects {
    color: white;
    margin-top: 8px;
}

canvas {
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
    margin-top: 50px;
}